.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#gameDiv{
    font-family: 'Roboto', cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}
#optC{
    color: red;

}
#optS{
    color: blue;

}
//je kan comments erbij zetten verder niks verkeerds
